

.header {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 22px;
  box-shadow: 1px 2px 5px rgb(0, 0, 0, 0.3);
  z-index: 2;
  position: relative;
}

.header input {
  outline: none;
  border: 1px solid #ddd;
  padding: 10px 5px;
  border-radius: 5px;
}

